<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %>Pagehop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="canonical" href="<%- page.permalink %>">
  <link rel="shortcut icon" href="<%- url_for('favicon.ico') %>">
  <%- css('css/style') %>
  <link href="//fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
  <%- feed_tag('atom.xml') %>
  <%- open_graph({
    twitter_site: '@' + theme.twitter,
    image: url_for('logo.png')
  }) %>
  <%- partial('google-analytics') %>
</head>